@font-face {
    font-family: "y9 Gotham";
    src: local("gotham-book-webfont.eot"), url('./fonts/gotham-book-webfont.eot?#iefix') format("embedded-opentype"), url('./fonts/gotham-book-webfont.woff') format("woff"), url('./fonts/gotham-book-webfont.ttf') format("truetype"), url('./fonts/gotham-book-webfont.svg#gotham_bookregular') format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "y9 Gotham";
    src: local("gotham-light-webfont.eot"), url('./fonts/gotham-light-webfont.eot?#iefix') format("embedded-opentype"), url('./fonts/gotham-light-webfont.woff') format("woff"), url('./fonts/gotham-light-webfont.ttf') format("truetype"), url('./fonts/gotham-light-webfont.svg#gotham_lightregular') format("svg");
    font-weight: 300;
    font-style: normal;
}