*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gotham {
    font-family: "y9 Gotham";
    font-size: 50px;
}

.gotham.is-book {
    font-weight: normal;
}

.gotham.is-light {
    font-weight: 300;
}

a11y-hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
}

caption.a11y-hidden {
    position: static;
}

clearfix::after {
    content: '';
    display: block;
    clear: both;
}

body {
    background-color: #C1F9A7;
}